body {

background-color: whitesmoke;
margin: 40px;

}

#name{
    font-size: 50px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

#prof {
    font-size: 30px;
    text-decoration:underline
}

h3 {
    font-size: 20px;
    background-color: blue;
    padding: 8px 10px;
    display: inline-block; /* deixa a cor do fundo somnete atras da frase */
    color: white;
    border-radius: 12px;
    

}

.apresentacao p {

    font-size: 18px;
    font-weight: bolder;

}

#linha1{
    font-size: 20px;
    font-weight: bolder;
    font-style: oblique;
    text-decoration:underline;
    
}

#linha2{
    font-size: 20px;
    font-weight: bolder;
    font-style: oblique;
    text-decoration:underline;
}


#tabela {
    border: 2px solid blue;
    border-radius: 8px;     
    padding: 10px;           
    margin: 0 auto;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.418) ;
}

#tabela th{
    font-size: 20px;
    color: blue;
}

#tabela td{
    font-weight: bolder;
}

.Contatos p{
    font-size: 20px;
}

img {
    width: 300px;
    height: 300px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.326);
}

.lugares p{
    margin-top: 30px;
}

.lugares ol{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.lugares li{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;

}


.Planejamento form{
    box-shadow: 2px 6px 15px #3a52a1;; /* 1 sombra horizontal, 2 vertical, 3 desfoque*/
    background-color: #dfdddd;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    margin-left: 24%;
    margin-right: 24%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.Planejamento label, input{
    color: black;
    font-size: 21px;
    margin-bottom: 10px;
}
.Planejamento input{
    color: black;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
}

.Planejamento #ButtonPesquisar{
    background-color: #3a52a1;
    color: white;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

